body{
    background-color:darkgoldenrod;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
#header_div{
    background-color: darkturquoise;
    color: firebrick;
}
#header_div p{
    font-family: 'Impact';
    color:darkorchid;
    letter-spacing: 1px;
    font-size: 20px;
}
#main_div button{
    margin-top: 15px;
}
#copyright_footer h3{
    position: fixed;
    bottom:0;
    color: deeppink;
    background-color: gold;
    width:100%;
    line-height:3;
    text-shadow: 3px 2px 5px grey;
}